.container {
    border: 1px solid #000;
    display: flex;
    max-width: 500px;
    padding: 10px;
    justify-content: space-between;
    align-items: center; /* Asegura que los botones estén centrados verticalmente */
    gap: 5px; /* Espacio uniforme entre los botones */
  }
  .button {
    flex: 1; /* Permite que los botones crezcan igualmente */
    max-width: 100px; /* Limita el tamaño máximo de los botones */
    padding: 10px; /* Añade un relleno dentro de los botones */
    display: flex;
    justify-content: center;
    align-items: center; /* Centra el texto verticalmente */
    background-color: #f0f0f0; /* Color de fondo del botón */
    border: 1px solid #ccc; /* Borde del botón */
    border-radius: 5px; /* Esquinas redondeadas */
    text-transform: lowercase; /* Minúsculas para el texto */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  }
  #mostrarArray{
    margin-top: 20px;
  }